﻿@model AcerCMS.Models.NewsViewModel

@{
    ViewBag.Title = Model.News.Title;
}


<h2>@Model.News.Title </h2>
<p class="lead">@Model.News.ShortDescription</p>

<hr />

<div>
    @Model.News.Content
</div>
<hr />
<h3>Yorumlar</h3>
@if (Model.Comments.Any())
{
    <div class="well">
        @foreach (var comment in Model.Comments)
        {
            <h4>@comment.Author <small>@comment.PostDate.ToString("dd-MM-yyyy HH:mm")</small></h4>
            <p>@comment.Content</p>
        }
    </div>
}
else
{
    <div class="alert alert-warning">
        <strong>Henuz Yorum Girişmemiş!</strong> ilk Yorumu siz girin...
        <a href="#">Tıklayın...</a>
    </div>
}

<div class="panel panel-default">
    <div class="panel-body">
        
    </div>
</div>


@section Scripts {

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


