﻿@model IEnumerable<AcerCMS.Models.News>
@{
    ViewBag.Title = "HaberListele";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //WebGrid grid = new WebGrid(Model);
}

<h2>HabetListele</h2>

<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "id");
    }

    @grid.GetHtml(columns: grid.Columns(
        grid.Column("id"),
        grid.Column("Title", header: "Başlık"),
        grid.Column("ShortDesctription", header: "Kısa Açıklama")
        )
        )
</div>
}



